In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

# preprocessing

In [2]:
train="C:\\Users\\user\\Documents\\datascience\\train.csv"
df=pd.read_csv(train)
print(df.head(3))

   Attribute1  Attribute2  Attribute3  Attribute4  Attribute5  Attribute6  \
0  2008-12-01           2        13.4        22.9         0.6         NaN
1  2008-12-17           2        14.1        20.9         0.0         NaN
2  2008-12-20           2         9.8        25.6         0.0         NaN

   Attribute7 Attribute8  Attribute9 Attribute10  ... Attribute14  \
0         NaN          W        44.0           W  ...        71.0
1         NaN        ENE        22.0         SSW  ...        69.0
2         NaN        SSE        26.0          SE  ...        45.0

   Attribute15  Attribute16  Attribute17  Attribute18  Attribute19  \
0         22.0       1007.7       1007.1          8.0          NaN
1         82.0       1012.2       1010.4          8.0          1.0
2         26.0       1019.2       1017.1          NaN          NaN

   Attribute20  Attribute21  Attribute22  Attribute23
0         16.9         21.8           No           No
1         17.2         18.1           No          Yes
2         15.8         23.2           No           No

[3 rows x 23 columns]

In [3]:
df.shape

(17093, 23)

In [4]:
df.count().sort_values()

Attribute7      9005
Attribute6      9793
Attribute19    10218
Attribute18    10573
Attribute16    15351
Attribute17    15353
Attribute10    15907
Attribute8     15991
Attribute9     15995
Attribute11    16676
Attribute15    16681
Attribute21    16789
Attribute13    16808
Attribute14    16895
Attribute5     16935
Attribute22    16935
Attribute12    16941
Attribute20    16997
Attribute3     17034
Attribute4     17048
Attribute1     17093
Attribute2     17093
Attribute23    17093
dtype: int64

# balance data

In [5]:

no_Yes = len(df[df['Attribute23'] == 'Yes'])
no_No = len(df[df['Attribute23'] == 'No'])
print(no_Yes)
print(no_No)

3175
13918

In [6]:
Yes_indices = df[df.Attribute23 == 'Yes'].index
No_indices = df[df.Attribute23 == 'No'].index
random_indices = np.random.choice(No_indices,no_Yes, replace=False)
under_sample_indices = np.concatenate([Yes_indices,random_indices])
df = df.loc[under_sample_indices]
print(df.groupby(['Attribute23']).size())

Attribute23
No     3175
Yes    3175
dtype: int64

In [7]:
df.shape

(6350, 23)

In [8]:
df=df.drop(columns=["Attribute7","Attribute6","Attribute19","Attribute18","Attribute1"],axis=1)

In [9]:
df.head(4)

,Attribute2,Attribute3,Attribute4,Attribute5,Attribute8,Attribute9,Attribute10,Attribute11,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,Attribute17,Attribute20,Attribute21,Attribute22,Attribute23
1,2,14.1,20.9,0.0,ENE,22.0,SSW,E,11.0,9.0,69.0,82.0,1012.2,1010.4,17.2,18.1,No,Yes
4,2,24.4,34.0,0.6,NW,98.0,N,NNW,26.0,48.0,60.0,39.0,1005.3,997.8,26.1,33.1,No,Yes
12,2,20.9,25.7,0.0,W,37.0,ENE,S,11.0,9.0,52.0,90.0,1019.5,1018.9,22.2,18.8,No,Yes
22,2,4.7,12.2,0.0,NNW,24.0,ESE,N,2.0,13.0,99.0,75.0,1015.5,1012.7,6.9,11.6,No,Yes

# 刪除空值

In [10]:
# Fill missing values
categorical_features = df[['Attribute8','Attribute10','Attribute11','Attribute22','Attribute23']]
numerical_features = df.drop(['Attribute8','Attribute10','Attribute11','Attribute22','Attribute23'], axis = 1)
numerical_imputer = SimpleImputer(strategy='mean')
categorical_imputer = SimpleImputer(strategy='most_frequent')
complete_numerical = numerical_imputer.fit_transform(numerical_features)
complete_categorical = categorical_imputer.fit_transform(categorical_features)
df = pd.concat([numerical_features,categorical_features], axis=1)

In [11]:
df=df.dropna(how="any")

In [12]:
df.iloc[4:10]

,Attribute2,Attribute3,Attribute4,Attribute5,Attribute9,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,Attribute17,Attribute20,Attribute21,Attribute8,Attribute10,Attribute11,Attribute22,Attribute23
23,2,8.4,11.9,0.0,22.0,7.0,6.0,79.0,81.0,1007.8,1005.5,10.3,11.3,SSE,SE,SE,No,Yes
29,2,7.7,11.6,0.2,22.0,6.0,13.0,94.0,87.0,1015.7,1015.3,9.4,11.1,NW,NW,N,No,Yes
35,2,21.0,34.5,0.0,78.0,13.0,39.0,48.0,70.0,1012.2,1008.4,28.2,25.2,N,SE,WNW,No,Yes
36,2,12.8,22.3,9.4,46.0,6.0,19.0,94.0,54.0,1000.5,1000.9,13.5,20.7,WNW,WSW,WNW,Yes,Yes
52,2,14.1,18.6,0.2,22.0,6.0,11.0,84.0,79.0,1011.6,1009.0,16.7,18.3,WNW,NE,NE,No,Yes
56,2,8.0,25.3,0.2,61.0,7.0,26.0,92.0,29.0,1017.8,1011.2,11.9,24.8,WNW,WSW,N,No,Yes

In [13]:
#轉換yes,no
df['Attribute22'].replace({'No': 0, 'Yes': 1},inplace = True)
df['Attribute23'].replace({'No': 0, 'Yes': 1},inplace = True)

In [14]:
#See unique values and convert them to int using pd.getDummies()
categorical_columns = ['Attribute8', 'Attribute10', 'Attribute11']
for col in categorical_columns:
    print(np.unique(df[col]))
# transform the categorical columns
df = pd.get_dummies(df, columns=categorical_columns)

['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']

In [15]:
df.iloc[4:10]

,Attribute2,Attribute3,Attribute4,Attribute5,Attribute9,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,...,Attribute11_NNW,Attribute11_NW,Attribute11_S,Attribute11_SE,Attribute11_SSE,Attribute11_SSW,Attribute11_SW,Attribute11_W,Attribute11_WNW,Attribute11_WSW
23,2,8.4,11.9,0.0,22.0,7.0,6.0,79.0,81.0,1007.8,...,0,0,0,1,0,0,0,0,0,0
29,2,7.7,11.6,0.2,22.0,6.0,13.0,94.0,87.0,1015.7,...,0,0,0,0,0,0,0,0,0,0
35,2,21.0,34.5,0.0,78.0,13.0,39.0,48.0,70.0,1012.2,...,0,0,0,0,0,0,0,0,1,0
36,2,12.8,22.3,9.4,46.0,6.0,19.0,94.0,54.0,1000.5,...,0,0,0,0,0,0,0,0,1,0
52,2,14.1,18.6,0.2,22.0,6.0,11.0,84.0,79.0,1011.6,...,0,0,0,0,0,0,0,0,0,0
56,2,8.0,25.3,0.2,61.0,7.0,26.0,92.0,29.0,1017.8,...,0,0,0,0,0,0,0,0,0,0

In [16]:
#standardize data
from sklearn import preprocessing
scaler=preprocessing.MinMaxScaler()
scaler.fit(df)
df=pd.DataFrame(scaler.transform(df), index=df.index, columns=df.columns)
df.iloc[1:5]

,Attribute2,Attribute3,Attribute4,Attribute5,Attribute9,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,...,Attribute11_NNW,Attribute11_NW,Attribute11_S,Attribute11_SE,Attribute11_SSE,Attribute11_SSW,Attribute11_SW,Attribute11_W,Attribute11_WNW,Attribute11_WSW
4,0.041667,0.870317,0.717333,0.002155,0.827273,0.342857,0.541176,0.587629,0.383838,0.379439,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.041667,0.769452,0.496000,0.000000,0.272727,0.128571,0.082353,0.505155,0.898990,0.644860,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.041667,0.302594,0.136000,0.000000,0.154545,0.000000,0.129412,0.989691,0.747475,0.570093,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.041667,0.409222,0.128000,0.000000,0.136364,0.071429,0.047059,0.783505,0.808081,0.426168,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
# missing values
categorical_features = [column_name for column_name in df.columns if df[column_name].dtype == 'O']
df[categorical_features].isnull().sum()

Series([], dtype: float64)

# outlier

In [28]:
features_with_outliers=['Attribute3','Attribute4','Attribute5','Attribute12','Attribute13','Attribute16','Attribute17','Attribute20','Attribute21']

In [29]:
for feature in features_with_outliers:
    q1 = df[feature].quantile(0.25)
    q3 = df[feature].quantile(0.75)
    IQR = q3-q1
    lower_limit = q1 - (IQR*1.5)
    upper_limit = q3 + (IQR*1.5)
    df.loc[df[feature]<lower_limit,feature] = lower_limit
    df.loc[df[feature]>upper_limit,feature] = upper_limit

# feature selection

In [13]:
#from sklearn.feature_selection import SelectKBest, chi2
#X = df.loc[:,df.columns!='Attribute23']
#y = df[['Attribute23']]
#selector = SelectKBest(chi2, k=5)
#selector.fit(X, y)
#X_new = selector.transform(X)
#print(X.columns[selector.get_support(indices=True)]) #top 3 columns

Index(['Attribute5', 'Attribute9', 'Attribute14', 'Attribute15',
       'Attribute22'],
      dtype='object')

# TEST

In [30]:
test_path="C:\\Users\\user\\Documents\\datascience\\test.csv"
test=pd.read_csv(test_path)
print(test.head(3))

   Attribute1  Attribute2  Attribute3  Attribute4  Attribute5  Attribute6  \
0  2009-01-02          10        18.4        28.9         0.0        14.8
1  2009-07-26          10         8.9        12.2         0.8         2.4
2  2010-01-19          10        11.3        28.8         0.0        11.2

   Attribute7 Attribute8  Attribute9 Attribute10  ... Attribute13  \
0        13.0          S        37.0         SSE  ...        19.0
1         1.2          N        24.0         NNE  ...        11.0
2        12.9        SSW        50.0           S  ...        20.0

   Attribute14  Attribute15  Attribute16  Attribute17  Attribute18  \
0         30.0          8.0       1012.9       1012.1          1.0
1         91.0         77.0       1018.1       1013.5          8.0
2         29.0         12.0       1012.9       1011.2          0.0

   Attribute19  Attribute20  Attribute21  Attribute22
0          1.0         20.3         27.0           No
1          7.0          9.1         11.4           No
2          0.0         18.1         26.5           No

[3 rows x 22 columns]

In [31]:
test=test.drop(columns=["Attribute7","Attribute6","Attribute19","Attribute18","Attribute1"],axis=1)
#轉換yes,no
test['Attribute22'].replace({'No': 0, 'Yes': 1},inplace = True)

print(test.head(3))

   Attribute2  Attribute3  Attribute4  Attribute5 Attribute8  Attribute9  \
0          10        18.4        28.9         0.0          S        37.0
1          10         8.9        12.2         0.8          N        24.0
2          10        11.3        28.8         0.0        SSW        50.0

  Attribute10 Attribute11  Attribute12  Attribute13  Attribute14  Attribute15  \
0         SSE         SSE         19.0         19.0         30.0          8.0
1         NNE           S          7.0         11.0         91.0         77.0
2           S         SSW          9.0         20.0         29.0         12.0

   Attribute16  Attribute17  Attribute20  Attribute21  Attribute22
0       1012.9       1012.1         20.3         27.0            0
1       1018.1       1013.5          9.1         11.4            0
2       1012.9       1011.2         18.1         26.5            0

In [32]:
#See unique values and convert them to int using pd.getDummies()
categorical_columns = ['Attribute8', 'Attribute10', 'Attribute11']
for col in categorical_columns:
    print(np.unique(test[col]))
# transform the categorical columns
test = pd.get_dummies(test, columns=categorical_columns)

['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']
['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']

In [33]:
#standardize data
from sklearn import preprocessing
scaler=preprocessing.MinMaxScaler()
scaler.fit(test)
test=pd.DataFrame(scaler.transform(test), index=test.index, columns=test.columns)
test.iloc[4:10]

,Attribute2,Attribute3,Attribute4,Attribute5,Attribute9,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,...,Attribute11_NNW,Attribute11_NW,Attribute11_S,Attribute11_SE,Attribute11_SSE,Attribute11_SSW,Attribute11_SW,Attribute11_W,Attribute11_WNW,Attribute11_WSW
4,0.155556,0.446064,0.380240,0.000000,0.285714,0.327273,0.354167,0.709677,0.500000,0.714795,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.177778,0.717201,0.559880,0.002353,0.168831,0.090909,0.375000,0.870968,0.729167,0.527629,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.177778,0.629738,0.371257,0.131765,0.311688,0.363636,0.604167,0.849462,0.697917,0.675579,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,0.177778,0.781341,0.550898,0.235294,0.233766,0.200000,0.312500,0.870968,0.781250,0.518717,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.177778,0.787172,0.595808,0.014118,0.311688,0.127273,0.500000,0.655914,0.687500,0.513369,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.177778,0.638484,0.535928,0.000000,0.064935,0.200000,0.229167,0.688172,0.604167,0.516934,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
#test=test[['Attribute5','Attribute9','Attribute14','Attribute15','Attribute22']]
#test.iloc[4:10]

In [60]:
#random forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [61]:
df2=pd.DataFrame.copy(df)
del df2['Attribute23']
X_train=df2

In [63]:
#X_train=df[['Attribute5', 'Attribute9', 'Attribute14', 'Attribute15','Attribute22']]

In [64]:
X_train.shape

(13562, 62)

In [65]:
X_train.iloc[4:10]

,Attribute2,Attribute3,Attribute4,Attribute5,Attribute9,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,...,Attribute11_NNW,Attribute11_NW,Attribute11_S,Attribute11_SE,Attribute11_SSE,Attribute11_SSW,Attribute11_SW,Attribute11_W,Attribute11_WNW,Attribute11_WSW
4,0.041667,0.760705,0.672414,0.002155,0.827273,0.342857,0.541176,0.587629,0.383838,0.366426,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.041667,0.498741,0.679803,0.000000,0.154545,0.071429,0.129412,0.422680,0.090909,0.568592,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,0.041667,0.695214,0.857143,0.000000,0.154545,0.057143,0.105882,0.360825,0.121212,0.554152,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.041667,0.760705,0.778325,0.000718,0.445455,0.242857,0.058824,0.298969,0.202020,0.481949,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.041667,0.609572,0.603448,0.001437,0.272727,0.071429,0.105882,0.649485,0.303030,0.438628,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,0.041667,0.521411,0.507389,0.000000,0.309091,0.257143,0.129412,0.484536,0.292929,0.480144,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
y_train=df[['Attribute23']]

In [67]:
y_train.shape

(13562, 1)

In [68]:
y_train.iloc[4:10]

   Attribute23
4          1.0
5          0.0
6          0.0
7          0.0
8          0.0
9          0.0

In [69]:
#X_test=test[['Attribute5','Attribute9','Attribute14','Attribute15','Attribute22']]
X_test=test

In [70]:
X_test.iloc[4:10]

,Attribute2,Attribute3,Attribute4,Attribute5,Attribute9,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,...,Attribute11_NNW,Attribute11_NW,Attribute11_S,Attribute11_SE,Attribute11_SSE,Attribute11_SSW,Attribute11_SW,Attribute11_W,Attribute11_WNW,Attribute11_WSW
4,0.155556,0.446064,0.380240,0.000000,0.285714,0.327273,0.354167,0.709677,0.500000,0.714795,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.177778,0.717201,0.559880,0.002353,0.168831,0.090909,0.375000,0.870968,0.729167,0.527629,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.177778,0.629738,0.371257,0.131765,0.311688,0.363636,0.604167,0.849462,0.697917,0.675579,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,0.177778,0.781341,0.550898,0.235294,0.233766,0.200000,0.312500,0.870968,0.781250,0.518717,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.177778,0.787172,0.595808,0.014118,0.311688,0.127273,0.500000,0.655914,0.687500,0.513369,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.177778,0.638484,0.535928,0.000000,0.064935,0.200000,0.229167,0.688172,0.604167,0.516934,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Random Forest

In [71]:
#from sklearn.ensemble import RandomForestClassifier
#classifier = RandomForestClassifier(n_estimators = 5, criterion = 'entropy', random_state = 0)
#classifier.fit(X_train, y_train)
#y_pred = classifier.predict(X_test)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(criterion='entropy', n_estimators=5, random_state=0)

# logistics regression

In [93]:
#from sklearn.linear_model import LogisticRegression
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import accuracy_score

In [94]:
#clf_logreg = LogisticRegression(random_state=0)
#clf_logreg.fit(X_train,y_train)
#y_pred = clf_logreg.predict(X_test)
#y_pred #0.61

C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

# Decision tree

In [89]:
#from sklearn.tree import DecisionTreeClassifier
#from sklearn.model_selection import train_test_split

In [90]:

#clf_dt = DecisionTreeClassifier(random_state=0)
#clf_dt.fit(X_train,y_train)
#y_pred = clf_dt.predict(X_test)
#y_pred #0.64

array([0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1.,
       1., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 0., 1.,
       1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 1., 0.,
       0., 0., 1., 1., 1., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 1.,
       1., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0.,
       0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1.,
       0., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0.,
       0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1.,
       1., 0., 0., 0., 1., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 1., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1.,
       1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0.,
       1., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0.,
       0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0., 1.,
       0., 1., 1., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1., 1., 0.,
       0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0.,
       1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1.,
       1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.,
       0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 1., 1.,
       0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0.,
       1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1.,
       1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 1.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0.,
       1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 1.])

# SVM

In [84]:
#from sklearn import svm
#from sklearn.model_selection import train_test_split

In [86]:

#clf_svc = svm.SVC(kernel='linear')
#clf_svc.fit(X_train,y_train)
#y_pred = clf_svc.predict(X_test)
y_pred# 0.61

C:\Users\user\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

# neural network

In [34]:
import tensorflow as tf
from tensorflow import keras
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D

import plotly.express as px
import plotly.graph_objects as go

import warnings
warnings.filterwarnings('ignore')

In [35]:
model = keras.models.Sequential()
model.add(Dense(118, input_dim=62, activation='relu'))
model.add(Dense(59, input_dim=62, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss="binary_crossentropy",optimizer="Adam")

In [36]:
from sklearn.model_selection import train_test_split
df2=pd.DataFrame.copy(df)
del df2['Attribute23']
X=df2

y=df[['Attribute23']]
X_train, X_valid, y_train, y_valid = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [37]:
train = model.fit(X_train, y_train, epochs=25,
                    validation_data=(X_valid, y_valid))

Epoch 1/25
126/126 [==============================] - 1s 11ms/step - loss: 0.6072 - val_loss: 0.5347
Epoch 2/25
126/126 [==============================] - 1s 6ms/step - loss: 0.5079 - val_loss: 0.4891
Epoch 3/25
126/126 [==============================] - 1s 6ms/step - loss: 0.4816 - val_loss: 0.4791
Epoch 4/25
126/126 [==============================] - 1s 5ms/step - loss: 0.4647 - val_loss: 0.4675
Epoch 5/25
126/126 [==============================] - 1s 6ms/step - loss: 0.4547 - val_loss: 0.4598
Epoch 6/25
126/126 [==============================] - 1s 5ms/step - loss: 0.4400 - val_loss: 0.4773
Epoch 7/25
126/126 [==============================] - 1s 5ms/step - loss: 0.4293 - val_loss: 0.4859
Epoch 8/25
126/126 [==============================] - 1s 5ms/step - loss: 0.4166 - val_loss: 0.4768
Epoch 9/25
126/126 [==============================] - 1s 5ms/step - loss: 0.4077 - val_loss: 0.4906
Epoch 10/25
126/126 [==============================] - 1s 6ms/step - loss: 0.3927 - val_loss: 0.4729
Epoch 11/25
126/126 [==============================] - 1s 6ms/step - loss: 0.3860 - val_loss: 0.4843
Epoch 12/25
126/126 [==============================] - 1s 6ms/step - loss: 0.3740 - val_loss: 0.5063
Epoch 13/25
126/126 [==============================] - 1s 5ms/step - loss: 0.3654 - val_loss: 0.5007
Epoch 14/25
126/126 [==============================] - 1s 6ms/step - loss: 0.3546 - val_loss: 0.5140
Epoch 15/25
126/126 [==============================] - 1s 6ms/step - loss: 0.3426 - val_loss: 0.5119
Epoch 16/25
126/126 [==============================] - 1s 5ms/step - loss: 0.3360 - val_loss: 0.5864
Epoch 17/25
126/126 [==============================] - 1s 5ms/step - loss: 0.3295 - val_loss: 0.5399
Epoch 18/25
126/126 [==============================] - 1s 6ms/step - loss: 0.3165 - val_loss: 0.5527
Epoch 19/25
126/126 [==============================] - 1s 5ms/step - loss: 0.3212 - val_loss: 0.5619
Epoch 20/25
126/126 [==============================] - 1s 5ms/step - loss: 0.3017 - val_loss: 0.5814
Epoch 21/25
126/126 [==============================] - 1s 5ms/step - loss: 0.2931 - val_loss: 0.5888
Epoch 22/25
126/126 [==============================] - 1s 5ms/step - loss: 0.2914 - val_loss: 0.5890
Epoch 23/25
126/126 [==============================] - 1s 5ms/step - loss: 0.2788 - val_loss: 0.6247
Epoch 24/25
126/126 [==============================] - 1s 6ms/step - loss: 0.2782 - val_loss: 0.6322
Epoch 25/25
126/126 [==============================] - 1s 5ms/step - loss: 0.2633 - val_loss: 0.6523

In [38]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 118)               7434
_________________________________________________________________
dense_1 (Dense)              (None, 59)                7021
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 60
=================================================================
Total params: 14,515
Trainable params: 14,515
Non-trainable params: 0
_________________________________________________________________

In [39]:
X_test=test
X_test.iloc[4:10]

,Attribute2,Attribute3,Attribute4,Attribute5,Attribute9,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,...,Attribute11_NNW,Attribute11_NW,Attribute11_S,Attribute11_SE,Attribute11_SSE,Attribute11_SSW,Attribute11_SW,Attribute11_W,Attribute11_WNW,Attribute11_WSW
4,0.155556,0.446064,0.380240,0.000000,0.285714,0.327273,0.354167,0.709677,0.500000,0.714795,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.177778,0.717201,0.559880,0.002353,0.168831,0.090909,0.375000,0.870968,0.729167,0.527629,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.177778,0.629738,0.371257,0.131765,0.311688,0.363636,0.604167,0.849462,0.697917,0.675579,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,0.177778,0.781341,0.550898,0.235294,0.233766,0.200000,0.312500,0.870968,0.781250,0.518717,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.177778,0.787172,0.595808,0.014118,0.311688,0.127273,0.500000,0.655914,0.687500,0.513369,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.177778,0.638484,0.535928,0.000000,0.064935,0.200000,0.229167,0.688172,0.604167,0.516934,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
#y_pred=model.predict(X_test)
y_pred=model.predict_classes(X_test)

WARNING:tensorflow:From <ipython-input-40-ea7d557b37bf>:2: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [41]:
y_pred

array([[0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1]])

# save result

In [42]:
y_pred=y_pred.astype(np.int64)
result=pd.DataFrame()
result["id"]=range(790)
result["ans"]=y_pred
result["id"]=result["id"].astype(float)
result
result.to_csv("C:\\Users\\user\\Documents\\datascience\\result.csv", index=False)